body {
  margin: 0;
  font-family: sans-serif;
}
.container {
  display: flex;
}
.sidebar {
  width: 250px;
  background: #f3f3f3;
  padding: 20px;
}
.sidebar .logo {
  width: 100%;
  margin-bottom: 20px;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar li {
  cursor: pointer;
  margin: 10px 0;
}
#visitorCounter {
  margin-top: 20px;
  font-weight: bold;
}
main {
  flex-grow: 1;
  padding: 20px;
}
.page {
  display: none;
}
.page.active {
  display: block;
}